* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background-color: #1f2937;
  width: 70vw;
  height: 28vh;
}
.container1 {
  background-color: white;
  width: 70vw;
  height: 26vh;
}
.container2 {
  background-color: #e5e7eb;
  width: 70vw;
  height: 22vh;
}
.container3 {
  background-color: white;
  width: 70vw;
  height: 19vh;
}
.footer {
  background-color: #1f2937;
  width: 70vw;
  height: 5vh;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 50vw;
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #3882f6;
}
.nav2 {
  width: 50vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box {
  color: #e5e7eb;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
h1 {
  color: white;
  font-size: 48px;
  line-height: 40px;
  margin-bottom: 15px;
}
button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
  width: 100px;
}
button:hover {
  background-color: #3882f6;
  opacity: 0.6;
}
