* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  background-color: #1f2937;
  width: 70vw;
  height: 28vh;
}
.container1 {
  background-color: white;
  width: 70vw;
  height: 26vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.container2 {
  background-color: #e5e7eb;
  width: 70vw;
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container3 {
  background-color: white;
  width: 70vw;
  height: 19vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #1f2937;
  width: 70vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
  width: 50vw;
  height: 3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #3882f6;
}
.nav2 {
  width: 50vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-box {
  color: #e5e7eb;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
h1 {
  color: white;
  font-size: 48px;
  line-height: 40px;
  margin-bottom: 15px;
}
button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
  width: 100px;
}
button:hover {
  background-color: #3882f6;
  opacity: 0.6;
}
.vierkant {
  border: 3px solid #3882f6;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  margin: 10px;
}
h2 {
  display: block;
}
.squares {
  display: flex;
  margin-top: 20px;
}
.small-text {
  width: 106px;
  height: auto;
  font-size: 12px;
  margin: 0 7px;
}
.subtext {
  display: flex;
  text-align: center;
  margin-top: -5px;
}
.text {
  font-size: 24px;
  font-style: italic;
  color: #1f2937;
  width: 500px;
}
.thor {
  font-weight: bold;
  text-align: end;
  width: 500px;
}
.blue {
  width: 650px;
  height: 100px;
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}
h3 {
  color: white;
  font-size: 16px;
}
.little {
  font-size: 14px;
  color: white;
}
.sign {
  border: 1px solid white;
}
.copy {
  color: #e5e7eb;
  font-size: 14px;
}
